{% extends "base.html" %}

{% block carausal %}

<div class="container">
  <div class="row">
    <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
        <div class="MultiCarousel-inner">
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Fruits') }}';">
                <div class="pad15">
                 <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/Apple.jpeg')}}">
                 <h5>Fruits</h5>
                </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Vegetables') }}';">
              <div class="pad15">
               <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/vegetables.jpeg')}}">
               <h5>Vegetables</h5>
              </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Grocerystaple') }}';" >
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/grocereystaple.jpg')}}">
                <h5>Grocery&Staples</h5>
            </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Household') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/household.jpeg')}}">
                <h5>Household Needs</h5>
            </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Personal') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/personal.jpeg')}}">
                <h5>Personal Care</h5>
            </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Beverages') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/beverages.jpeg')}}">
                <h5>Beverages</h5>
            </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Baby') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/baby.jpeg')}}">
                <h5>Baby&Kids</h5>
            </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Snacks') }}';">
              <div class="pad15">
                  <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/snacks.jpeg')}}">
                  <h5>Snacks&Chocolates</h5>
              </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Noodle') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/noodle.jpeg')}}">
                <h5>Noodles&Instant Food</h5>
              </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Breakfast') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/breakfast.jpeg')}}">
                <h5>Breakfast&Dairy</h5>
              </div>
            </div>
            <div class="item">
              <div class="pad15" onclick="location.href='{{ url_for('fruit_find',ty='Home') }}';">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/home.jpeg')}}">
                <h5>Home&Kitchen</h5>
              </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Pet') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;"  src="{{ url_for('static',filename='uploads/pet.jpeg')}}">
                <h5>Pet Care</h5>
              </div>
            </div>
            <div class="item" onclick="location.href='{{ url_for('fruit_find',ty='Frozen') }}';">
              <div class="pad15">
                <img style="width: 70px; height: 70px;" src="{{ url_for('static',filename='uploads/frozen.jpeg')}}">
                <h5>Frozen Food</h5>
              </div>
            </div>
        </div>
        <button class="btn btn-primary leftLst"><</button>
        <button class="btn btn-primary rightLst">></button>
    </div>
  </div>
 </div>

{% endblock %}

{% block content %}
<!--<div class="row">
      <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
          <img class="images" style="width:300px ;height:300px" src="{{ filename }}">
          <a href="{{ url_for('fruit_find',ty='Fruits') }}">Fruits</a>
        </div>
      </div>
</div>-->
{% endblock %}