* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    list-style: none;
}

body { padding-top: 100px; background: #f0f0f0 }

.row {
    padding: 50px;
}

    .row3{
    padding: 20px;
    }
    .row2 {
      padding: 35px;
      width: 100%;
      position: relative;
      align-items: center;
    }
    .view{
      position: relative;
      padding: 10px;
      border: 1.3px solid;
      border-color: lightgray;
      width: 75px;
      left: 89.2%;
      background-color: white;
    }
        div.scrollmenu {
      color: #fff;
      background: #fff;
      overflow: auto;
      white-space: nowrap;
    }
    div.scrollmenu a {
      display: inline-block;
      color: #6bbd98;
      text-align: center;
      padding: 14px;
      text-decoration: none;
    }
    
    div.scrollmenu a:hover {
      background-color: #46a093;
    }
    .panel-body {
      color: #0000CD;
      background: #ecf0f1;

    }
    .navbar-inverse {
      background: #46a093;
      color: #6bbd98; 
      height: 70px;
    }
  
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color:white;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: white;
      position: relative;
      right: 50px;
      top: 8px;
      font-weight: 500;
      font-size: 15px;
      
    } 
  
    .navbar-inverse .navbar-nav>li>a>i {
      position: relative;
      font-size: 30px;
    }
    
    .para {
      font-weight: bold;
      font-size: 30px;
    }
    
    *{
      margin: 0px;
      padding: 0;
      font-family: sans-serif;
    
    }
    
    #sidebar {
      position: fixed;
      width: 25%;
      height: 100%;
      background: #6bbd98;
      left: -25%;
      transition: all 500ms linear; 
    }
    
    #left-track-logo{
        position: relative;
        right:-90px;
        top: -35px;
    }
    #sidebar.active {
      left: 0px;
    }
    
    #sidebar ul li {
      color: White;
      list-style:none;
      padding: 15px 10px;
      border-bottom: 1px solid rgba(100,100,100,0.3);
    }
    
    #sidebar .toggle-btn {
      position: absolute;
      Left: 350px;
      top: 10px;
    }
    
    #sidebar .toggle-btn span {
      display: block;
      width: 30px;
      height: 5px;
      background: #151719;
      margin: 5px 0px;
    
    }

    #sidebar .toggle-btn .logo{
      text-indent: -999999px;
      background: url(/img/logo.jpeg);
      width: 900px;
      height: 500px;
    }
    /*Search bar start*/
    .search {
      width: 700px;
      position: relative;
      display: flex;
      right: 200px;
    }
    
    .searchTerm {
      width: 900px;
      border: 2px solid #fff;
      border-right: none;
      padding: 5px;
      height: 36px;
      border-radius: 2px 0 0 5px;
      outline: none;
      color: gray;
      font-size: 15px;
    }
    
  
    .searchButton {
      width: 60px;
      height: 36px;
      border: 1px solid #fff;
      background: lightgray;
      text-align: center;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
      font-size: 20px;
    }
    
    /*Resize the wrap to see the search bar change!*/
    .wrap{
      width: 30%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    /*End*/
    .logo-image{
        margin: 15px; 
      width: 60px;
      height: 60px;
      border-radius: 30px;
      margin-top: -6px;
  }

  .container-1{
    width: 100%;
    position: relative;
  }
  .container2{
    width: 100%;
  }
  .container3{
    height: 750px;
  } 
  .container{
      height: 70px;
  }

  .MultiCarousel { border: 1px solid; border-color: lightgray; float: left; overflow: hidden; width: 100%; height: 120px; position: relative; background-color: white}
  .MultiCarousel .MultiCarousel-inner {width: 98%; transition: 1s ease all; float: left; }
  .MultiCarousel .MultiCarousel-inner .item { padding-left: 25px;float: left; font-size: 12px;}
  .MultiCarousel .MultiCarousel-inner .item .img-size { height: 60px; width: 60px; }
  .MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px;}
  .MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:48%; top:calc(50% - 20px); background: lightgray; color:#fff; border-color: lightgray }
  .MultiCarousel .leftLst { left:0.5%; }
  .MultiCarousel .rightLst { right:0.5%; }
  .MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; }
   
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
  padding-top: 0px;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
  overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 15px;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase;
}

.title-card{
  padding-left: 35px;
}

.modal-dialog{
  width: 90%;
  
}
.modal-content{
  height: 500px;
  /* padding-top: 20px; */
}
#btnEmpty{
  background-color: #46a093;
  font-size: medium;
  color: white;
  padding: 3px;
  border: #46a093;
  border-radius: 2px;
  text-decoration: none;
  position: absolute; 
  bottom: 10px;
  right: 150px;

}
#btnEmp{
  background-color: #46a093;
  font-size: medium;
  color: white;
  padding: 3px;
  border: #46a093;
  border-radius: 2px;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  right: 10px;

}

/* FontAwesome for working BootSnippet :> */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
#team {
    background: #eee !important;
    padding-top: 0px;
}


section {
    padding: 10px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
    height: 50px;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
    width: 360px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    font-family: sans-serif;
}

.cards{
  width: 295px;
  height: 350px;
  text-align: left;
  display: inline-block;
  padding-inline: 0px;
  background-color: #fff;
  left: 10px;
  border: 1px solid;
  border-color: lightgray;
  
 
}
.cards > img{
  height: 130px;
  width: 130px;
}
.cards-title{
  font-weight: normal;
  padding-left: 15px;
  font-size: medium;
}
.cards-text{
  font-size: 13px;
  padding-left: 10px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color:#46a093;
    border-color: #46a093;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #46a093;
    background: white;
    border-color: #46a093;
    border-width: 2px;
    position: relative;
    left: 80px;

}
.title{
  text-align: left;
  font-weight: bold;
}
/*Offers division*/
h2{
  margin: 0;     
  color: #666;
  padding-top: 90px;
  font-size: 52px;
  font-family: "trebuchet ms", sans-serif;    
}

.item{
  background: white;    
  text-align: center;
  height: 300px !important;
}

.carousel{
  margin-top: 20px;
}

.bs-example{
  margin: 20px;
  width: 95.7%;
  padding-left: 15px;
  top: 100px;
}
/*
.carousel.carousel-fade .item {
opacity:0;
filter: alpha(opacity=0); /* ie fix */

/*
.carousel.carousel-fade .active.item {
  opacity:1;
  filter: alpha(opacity=100); /* ie fix */

.cart{
  /* width: 100px; */
  /* height: 100px; */
  float: right; 
  cursor: pointer;
  padding: 15px 0px;
  color: #fff;
}

.carousel-caption{
  height: 100%;
  width: 100%;
  position: inherit;
  padding: 47px;
  left: 20px;

}

.site-footer
{
  background-color:gray;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color: white;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color: black;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color: white;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

